.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header{
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: flex-start;
}

.nav-items{
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  
}